.dashboard {
  min-height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dashboard-container {
  max-width: 1400px;
  margin: auto;
  padding: 110px 40px 50px;
}

.dashboard-title {
  color: white;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.dashboard-subtitle {
  text-align: center;
  color: #d8d8d8;
  font-size: 18px;
  margin-bottom: 40px;
}

.summary-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
  margin-bottom: 30px;
}

.summary-card {
  background: rgba(15,15,15,0.60);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 18px;
  padding: 22px;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: .3s;
}

.summary-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,.35);
}

.summary-card h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.summary-card h1 {
  color: #b7ff9a;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.2;
}

.dashboard-middle {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.glass-card {
  background: rgba(15,15,15,.60);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,.08);
  border-radius: 18px;
  padding: 25px;
  color: white;
}

.activity-section {
  min-height: 280px;
}

.chart-section {
  min-height: 280px;
}

.activity-section h2,
.activity-section h3,
.chart-section h3,
.recommend-box h2 {
  color: white;
  margin-bottom: 20px;
}

.activity-section p {
  color: white;
  font-size: 16px;
}

.activity-section table {
  width: 100%;
  border-collapse: collapse;
}

.activity-section th,
.activity-section td {
  padding: 12px;
  color: white;
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.chart-box {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  text-align: center;
}

.recommend-section {
  margin-top: 10px;
}

.recommend-box h2 {
  font-size: 24px;
}

.recommend-box ul {
  padding-left: 25px;
  margin-top: 15px;
}

.recommend-box li {
  font-size: 17px;
  margin-bottom: 14px;
  color: white;
}

@media (max-width:1200px){

.summary-section{
grid-template-columns:repeat(2,1fr);
}

.dashboard-middle{
grid-template-columns:1fr;
}

}

@media (max-width:768px){

.dashboard-container{
padding:100px 20px 40px;
}

.summary-section{
grid-template-columns:1fr;
}

.dashboard-title{
font-size:38px;
}

.dashboard-subtitle{
font-size:16px;
}

.summary-card{
min-height:180px;
}

.summary-card h1{
font-size:34px;
}

.summary-card h3{
font-size:18px;
}

}